Repository AlexeyMatskevich/ohmuritel: changes, and which lefthook commands are due for each by the changed paths.
All: standard, standardrb, rspec

standard:
  tags: frontend lint
  run: dip yarn_no_tty standard {staged_files} --verbose | dip yarn snazzy

standardrb:
  tags: backend lint
  run: dip bundle_no_tty exec standardrb {staged_files} | dip yarn snazzy

rspec:
  tags: rspec spec backend
  run: dip rspec_no_tty --fail-fast {staged_files}

Fix CI build with missing gem audit
  .semaphore/semaphore.yml
  bin/bundle
  lefthook.yml
Due: none

Fix CI build with missing gem audit
  .docker/Dockerfile.rails_node
  package.json
  scripts/build_first_step.sh
  scripts/build_second_step.sh
Due: none

Fix CI warning [skip ci]
  .semaphore/semaphore.yml
Due: none

Merge pull request #4 from AlexeyMatskevich/Improve-docker-CI
  .docker/.psqlrc
  .docker/Aptfile
  .docker/Dockerfile.base_environment
  .docker/Dockerfile.dev
  .docker/Dockerfile.rails_base
  .docker/Dockerfile.rails_node
  .dockerdev/Dockerfile
  .semaphore/semaphore.yml
  .standard.yml
  Dockerfile
  Gemfile.lock
  bin/bundle
  docker-compose-dev.yml
  docker-compose-test.yml
  heroku.yml
  lefthook.yml
  package.json
  scripts/build_first_step.sh
  scripts/build_second_step.sh
  scripts/heroku_yml_update.rb
  yarn.lock
Due: standardrb

Install gem for fix N+1
  Gemfile
  Gemfile.lock
  app/graphql/types/query_type.rb
  config/environments/development.rb
  dip.yml
  heroku.yml
  package.json
  yarn.lock
Due: standardrb

Fix heroku mistake container tag
  heroku.yml
Due: none

WIP
  .lefthook/post-checkout/02-yarn-checkinstall
  .lefthook/post-checkout/03-crystalball-update
  .lefthook/post-checkout/03-db-migrate
  .lefthook/post-checkout/04-crystalball-update
  README.md
  dip.yml
  heroku.yml
  lefthook.yml
Due: none

Touch heroku sha
  heroku.yml
Due: none

Update dependency group
  Gemfile
Due: standardrb

Add post-checkout git hook (#2)
  .lefthook/post-checkout/01-bundle-checkinstall
  .lefthook/post-checkout/02-yarn-checkinstall
  .lefthook/post-checkout/03-db-migrate
  .lefthook/post-checkout/04-crystalball-update
  Gemfile
  Gemfile.lock
  README.md
  dip.yml
  heroku.yml
  lefthook.yml
Due: standardrb

Add password column to User model * Add validation to User model * Add index to email column * Add constraint to DB * Update gems * Ignore auto-generate file in linter
  .database_consistency.yml
  Gemfile
  Gemfile.lock
  app/models/user.rb
  db/migrate/20191019140222_add_password_digest_to_users.rb
  db/migrate/20191019164918_add_constraint_to_user_fields.rb
  db/migrate/20191020132351_change_email_to_citext.rb
  db/migrate/20191020132549_add_index_to_users_email.rb
  db/schema.rb
  heroku.yml
  lefthook.yml
  spec/factories/user.rb
Due: standardrb

Improve development environment
  .pryrc
  Gemfile
  Gemfile.lock
  dip.yml
  heroku.yml
Due: standardrb

Add mutation for create User * Add gem with helper for Graphql spec * Show error in data
  .pryrc
  Gemfile
  Gemfile.lock
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_user.rb
  app/graphql/ohmuritel_schema.rb
  app/graphql/types/attributes_error.rb
  app/graphql/types/mutation_type.rb
  heroku.yml
  spec/graphql/mutations/base_mutatiob_spec.rb
  spec/graphql/mutations/create_user_spec.rb
Due: standardrb, rspec

Add accessibility testing
  app/javascript/packs/index.js
  heroku.yml
  package.json
  yarn.lock
Due: none

Add form for registration
  app/graphql/types/user_type.rb
  app/javascript/components/Ohmuritel/index.js
  app/javascript/components/Ohmuritel/operations.graphql
  app/javascript/components/RegistrationForm/index.js
  app/javascript/components/RegistrationForm/operations.graphql
  app/javascript/packs/index.js
  app/views/layouts/application.html.erb
  config/webpack/environment.js
  heroku.yml
  package.json
  spec/graphql/types/user_type_spec.rb
  yarn.lock
Due: standardrb, rspec

Touch sha
  heroku.yml
Due: none

Add product model
  .database_consistency.yml
  app/models/product.rb
  db/migrate/20191104195734_create_products.rb
  db/schema.rb
  spec/factories/product.rb
Due: standardrb

Refactor GrahpQL type and spec
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/sign_up.rb
  app/graphql/mutations/update_account.rb
  spec/graphql/mutations/base_mutatiob_spec.rb
  spec/graphql/mutations/sign_up_spec.rb
  spec/graphql/types/mutation_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/support/graph_ql_helpers.rb
Due: standardrb, rspec

Add product endpoint
  app/graphql/mutations/create_product.rb
  app/graphql/types/mutation_type.rb
  app/graphql/types/product_type.rb
  app/graphql/types/query_type.rb
  db/seeds.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/graphql/types/mutation_type_spec.rb
  spec/graphql/types/product_type_spec.rb
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Add product page
  app/javascript/components/Form/Snackbars/index.js
  app/javascript/components/Form/helper.js
  app/javascript/components/Home/index.js
  app/javascript/components/Home/operations.graphql
  app/javascript/components/Item/index.js
  app/javascript/packs/index.js
  heroku.yml
  package.json
  public/burger.jpg
  yarn.lock
Due: none

Add page for add product
  app/javascript/components/AddItem/index.js
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/AddProduct/operations.graphql
Due: none

Refactor frontend
  app/javascript/components/Form/AccountControl/index.js
  app/javascript/components/Form/Auth/ForgotPassword/index.js
  app/javascript/components/Form/Auth/ForgotPassword/operations.graphql
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Login/operations.graphql
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Form/Auth/Registration/operations.graphql
  app/javascript/components/Form/Auth/ResetPassword/index.js
  app/javascript/components/Form/Auth/ResetPassword/operations.graphql
  app/javascript/components/Form/Inputs/emailFormControl.js
  app/javascript/components/Form/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Form/Inputs/operations.graphql
  app/javascript/components/Ohmuritel/operations.graphql
Due: none

FIx bug with incorrect environment [skip ci]
  lefthook.yml
Due: none

Fix bug with request email on all input changes
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Form/helper.js
  heroku.yml
  package.json
  yarn.lock
Due: none

Add description field
  app/assets/stylesheets/actiontext.scss
  app/graphql/mutations/create_product.rb
  app/graphql/types/product_type.rb
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/AddProduct/operations.graphql
  app/javascript/packs/application.js
  app/models/product.rb
  app/views/active_storage/blobs/_blob.html.erb
  config/application.rb
  db/migrate/20191107193724_create_action_text_tables.action_text.rb
  db/schema.rb
  heroku.yml
  package.json
  spec/graphql/types/product_type_spec.rb
  test/fixtures/action_text/rich_texts.yml
  yarn.lock
Due: standardrb, rspec

Add simple show page
  app/graphql/types/product_type.rb
  app/graphql/types/query_type.rb
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Home/index.js
  app/javascript/components/Item/index.js
  app/javascript/components/Product/index.js
  app/javascript/components/Product/operations.graphql
  app/javascript/packs/index.js
  db/migrate/20191107193724_create_action_text_tables.action_text.rb
  db/seeds.rb
Due: standardrb

Remove master key for review app
  app.json
Due: none

Apply stardard js linter offenses
  app/javascript/packs/application.js
Due: none

Fix review app db setting [skip ci]
  app.json
Due: none

Bundle add action_policy-graphql
  Gemfile
  Gemfile.lock
  heroku.yml
  yarn.lock
Due: standardrb

Add role to user model
  Gemfile
  Gemfile.lock
  app/graphql/mutations/base_mutation.rb
  app/graphql/types/base_object.rb
  app/models/user.rb
  config/locales/en.yml
  db/migrate/20191108151455_add_role_to_user.rb
  db/schema.rb
  db/seeds.rb
  heroku.yml
  spec/models/user_spec.rb
  spec/rails_helper.rb
Due: standardrb, rspec

Add and apply admin police
  app/graphql/mutations/create_product.rb
  app/policies/application_policy.rb
  app/policies/product_policy.rb
  config/locales/en.yml
  spec/factories/user.rb
  spec/graphql/mutations/create_product_spec.rb
Due: standardrb, rspec

Fix type error [skip ci]
  app/javascript/components/Form/AddProduct/operations.graphql
Due: none

Apply standardrb offenses
  app/policies/application_policy.rb
  app/policies/product_policy.rb
  spec/models/user_spec.rb
Due: standardrb, rspec

Remove unused property [skip ci]
  app/javascript/components/Form/AddProduct/index.js
Due: none

Add admin role and autorization layer (#15)
  Gemfile
  Gemfile.lock
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_product.rb
  app/graphql/types/base_object.rb
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/AddProduct/operations.graphql
  app/models/user.rb
  app/policies/application_policy.rb
  app/policies/product_policy.rb
  config/locales/en.yml
  db/migrate/20191108151455_add_role_to_user.rb
  db/schema.rb
  db/seeds.rb
  heroku.yml
  spec/factories/user.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  yarn.lock
Due: standardrb, rspec

Refactor Authentication layer
  app/javascript/components/AccountControl/index.js
  app/javascript/components/Context/index.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Header/index.js
  app/javascript/components/Home/index.js
  app/javascript/components/Provider/index.js
  app/javascript/components/operations.graphql
  app/javascript/packs/index.js
  app/javascript/utils/apollo.js
  app/javascript/utils/type.js
Due: none

Refactor NetworkError layout
  app/javascript/components/CustomSnackbar/CustomSnackbarContent/index.js
  app/javascript/components/CustomSnackbar/index.js
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/Auth/ForgotPassword/index.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Form/Auth/ResetPassword/index.js
  app/javascript/components/NetworkError/index.js
  app/javascript/components/Ohmuritel/index.js
  app/javascript/components/Ohmuritel/operations.graphql
  app/javascript/components/Product/index.js
  app/javascript/components/ShopItem/NewItem/index.js
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/javascript/components/operations.graphql
  app/javascript/packs/index.js
  app/javascript/utils/apollo.js
  app/javascript/utils/type.js
Due: none

Path conditions:
  standard: any of: ,*.{js}
  standardrb: any of: {Gemfile,*.{rb,erb}}
  rspec: any of: *spec.rb
