Repository AlexeyMatskevich/ohmuritel: changes, and which lefthook commands are due for each by the changed paths.
All: standard, standardrb, rspec

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      tags: frontend lint
      glob: ",*.{js}"
      run:  dip yarn_no_tty standard {staged_files} --verbose | dip yarn snazzy # {staged_files} - list of files
    standardrb:
      tags: backend lint
      glob: "{bin/*,.lefthook/**/*,Gemfile,*.{rb,erb}}"
      run: dip bundle_no_tty exec standardrb {staged_files} | dip yarn snazzy
    rspec:
      tags: rspec spec backend
      glob: "*spec.rb"
      run: dip rspec_no_tty --fail-fast {staged_files}
pre-push:
  parallel: true
  commands:
    rspec:
      tags: rspec spec backend
      run: dip crystalball_no_tty --fail-fast
    package_audit:
      tags: frontend secure
      run: dip yarn_no_tty audit
    gem_audit:
      tags: backend secure
      run: dip bundle_no_tty audit check --update
    database_consistency:
      tags: backend
      run: dip database_consistency_no_tty
    brakeman:
      tags: backend
      run: dip bundle_no_tty exec brakeman
post-checkout:
  piped: true
  scripts:
    "01-bundle-checkinstall":
      tags: backend
    "02-yarn-checkinstall":
      tags: fronend
    "03-db-migrate":
      tags: backend
      runner: docker-compose -f docker-compose-dev.yml run --rm rails
    "04-crystalball-update":
      tags: rspec backend
      runner: docker-compose -f docker-compose-dev.yml run --rm rails

Use product count instead of OrderItem count
  app/graphql/types/order_type.rb
  app/graphql/types/query_type.rb
  spec/factories/product.rb
  spec/graphql/types/order_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/support/graph_ql_helpers.rb
Due: standardrb, rspec

Update query in frontend
  app/javascript/components/Header/index.js
  app/javascript/components/Header/operations.graphql
Due: none

Update quantity if order exist
  app/graphql/mutations/add_product_to_basket.rb
  spec/factories/order.rb
  spec/graphql/mutations/add_product_to_basket_spec.rb
Due: standardrb, rspec

Fix regression with updated factory
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Fix package_audit offenses
  heroku.yml
  yarn.lock
Due: none

Fix bug when the linter skipped files
  lefthook.yml
Due: none

Update shopping list count in "add to order" action
  app/javascript/components/Header/index.js
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/components/ShopList/index.js
Due: none

Apply linter offenses
  spec/support/graph_ql_helpers.rb
Due: standardrb

Fix add reviews
  app/graphql/mutations/.keep
  app/graphql/mutations/create_product.rb
  app/graphql/mutations/create_review.rb
  app/graphql/mutations/delete_review.rb
  app/graphql/mutations/sign_up.rb
  app/graphql/mutations/update_account.rb
Due: standardrb

Don't reload page on registration
  app/javascript/components/Form/Auth/Registration/index.js
  app/models/order.rb
  app/models/product.rb
  app/models/user.rb
Due: standardrb

First version System test
  Gemfile
  Gemfile.lock
  app/views/ohmuritel/index.html.erb
  dip.yml
  docker-compose-dev.yml
  heroku.yml
  spec/support/capybara.rb
  spec/system/page_views_spec.rb
Due: standardrb, rspec

Apply CI offenses
  Gemfile.lock
  dip.yml
  docker-compose-dev.yml
  heroku.yml
  spec/support/capybara.rb
  spec/system/page_views_spec.rb
  yarn.lock
Due: standardrb, rspec

Update dependencites becose of outdate mimemagic
  Gemfile.lock
  app/graphql/mutations/create_product.rb
  config/environments/development.rb
  heroku.yml
Due: standardrb
