Repository AlexeyMatskevich/ohmuritel: changes, and which lefthook commands are due for each by the changed paths.
All: standard, standardrb, rspec

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    standard:
      tags: frontend lint
      glob: ",*.{js}"
      run:  dip yarn_no_tty standard {staged_files} --verbose | dip yarn snazzy # {staged_files} - list of files
    standardrb:
      tags: backend lint
      glob: "{bin/*,.lefthook/**/*,Gemfile,*.{rb,erb}}"
      run: dip bundle_no_tty exec standardrb {staged_files} | dip yarn snazzy
    rspec:
      tags: rspec spec backend
      glob: "*spec.rb"
      run: dip rspec_no_tty --fail-fast {staged_files}
pre-push:
  parallel: true
  commands:
    rspec:
      tags: rspec spec backend
      run: dip crystalball_no_tty --fail-fast
    package_audit:
      tags: frontend secure
      run: dip yarn_no_tty audit
    gem_audit:
      tags: backend secure
      run: dip bundle_no_tty audit check --update
    database_consistency:
      tags: backend
      run: dip database_consistency_no_tty
    brakeman:
      tags: backend
      run: dip bundle_no_tty exec brakeman
post-checkout:
  piped: true
  scripts:
    "01-bundle-checkinstall":
      tags: backend
    "02-yarn-checkinstall":
      tags: fronend
    "03-db-migrate":
      tags: backend
      runner: docker-compose -f docker-compose-dev.yml run --rm rails
    "04-crystalball-update":
      tags: rspec backend
      runner: docker-compose -f docker-compose-dev.yml run --rm rails

Refactor Authorization layer
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/javascript/components/AccountControl/index.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/policies/user_policy.rb
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Apply linter offenses
  app/javascript/components/AccountControl/index.js
  lefthook.yml
Due: none

Refactor Authentication layer (#17)
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  app/javascript/components/AccountControl/index.js
  app/javascript/components/Context/index.js
  app/javascript/components/CustomSnackbar/CustomSnackbarContent/index.js
  app/javascript/components/CustomSnackbar/index.js
  app/javascript/components/Form/AddProduct/index.js
  app/javascript/components/Form/Auth/ForgotPassword/index.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Form/Auth/ResetPassword/index.js
  app/javascript/components/Header/index.js
  app/javascript/components/Home/index.js
  app/javascript/components/NetworkError/index.js
  app/javascript/components/Ohmuritel/index.js
  app/javascript/components/Ohmuritel/operations.graphql
  app/javascript/components/Product/index.js
  app/javascript/components/Provider/index.js
  app/javascript/components/ShopItem/NewItem/index.js
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/javascript/components/operations.graphql
  app/javascript/packs/index.js
  app/javascript/utils/apollo.js
  app/javascript/utils/type.js
  app/policies/user_policy.rb
  lefthook.yml
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Remove upload button from editor
  app/assets/stylesheets/actiontext.scss
Due: none

Add action storage settings
  Gemfile
  Gemfile.lock
  config/credentials.yml.enc
  config/environments/production.rb
  config/storage.yml
  heroku.yml
Due: standardrb

Made form file structure more clear
  app/javascript/components/Form/Auth/ForgotPassword/index.js
  app/javascript/components/Form/Auth/Inputs/emailFormControl.js
  app/javascript/components/Form/Auth/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Form/Auth/Inputs/operations.graphql
  app/javascript/components/Form/Auth/Inputs/passwordConfirmFormControl.js
  app/javascript/components/Form/Auth/Inputs/passwordFormControl.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Form/Auth/ResetPassword/index.js
  app/javascript/components/Form/Product/AddProduct/index.js
  app/javascript/components/Form/Product/AddProduct/operations.graphql
  app/javascript/packs/index.js
Due: none

Add direct upload mutation
  app/graphql/mutations/create_direct_upload.rb
  app/graphql/types/mutation_type.rb
Due: standardrb

Apply linter offenses
  app/graphql/mutations/create_direct_upload.rb
Due: standardrb

Refactor add product page
  app/javascript/components/Form/Product/AddProduct/index.js
  app/javascript/components/Form/Product/AddProduct/operations.graphql
  app/javascript/components/Form/Product/Inputs/NameFormControlValidation.js
  app/javascript/components/Form/Product/Inputs/PreviewDescriptionFormControl.js
  app/javascript/components/Form/Product/Inputs/PriceFormControl.js
  app/javascript/components/Form/Product/Inputs/WeightFormControl.js
  app/javascript/components/Form/Product/Inputs/operations.graphql
Due: none

Fix yaml errors
  config/storage.yml
Due: none

Fix inaccessibility ActiveStorage routes
  config/routes.rb
Due: standardrb

Add current host link to Graphql controller
  app/controllers/graphql_controller.rb
Due: standardrb

Add image to product
  app/models/product.rb
Due: standardrb

Refactor authorise layer, use Graphql errors like massage transport
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/create_direct_upload.rb
  app/graphql/mutations/create_product.rb
  app/graphql/ohmuritel_schema.rb
  app/javascript/utils/apollo.js
  app/javascript/utils/csrf.js
Due: standardrb

Add ability to download image for Product
  app/graphql/mutations/create_product.rb
  app/javascript/components/Form/Product/AddProduct/index.js
  app/javascript/components/Form/Product/AddProduct/operations.graphql
  app/javascript/components/Form/Product/Inputs/ImageFormControl.js
  app/javascript/components/Form/Product/Inputs/operations.graphql
  app/javascript/components/Form/Product/direct_upload.js
  app/javascript/components/Form/Product/get_file_media.js
Due: standardrb

Cover changes with tests
  spec/factories/product.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/models/product_spec.rb
  spec/policies/product_policy_spec.rb
  spec/policies/user_policy_spec.rb
  spec/support/assets/test.png
  spec/support/files_test_helper.rb
Due: standardrb, rspec

Update sha && add SemaphoreCI budges
  README.md
  heroku.yml
Due: none

Add url Graphql type
  .ruby-version
  app/graphql/types/url.rb
  spec/graphql/types/url_spec.rb
Due: standardrb, rspec

Replacement Graphql to avoid N+1 in polymorphic associations
  Gemfile
  Gemfile.lock
  app/graphql/ohmuritel_schema.rb
  heroku.yml
  yarn.lock
Due: standardrb

Add image url to graphql endpoint
  app/graphql/types/product_type.rb
  app/javascript/components/Form/Product/AddProduct/operations.graphql
  app/javascript/components/Product/index.js
  app/javascript/components/Product/operations.graphql
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/operations.graphql
Due: standardrb

Fix 2N+1 on ActionText and ActionStorage
  app/graphql/association_loader.rb
  app/graphql/types/product_type.rb
Due: standardrb

Update seeds
  db/seeds.rb
  public/cheeseburger.jpg
Due: standardrb

Show broken image when image ulr empty
  app/javascript/components/Product/index.js
  app/javascript/components/ShopItem/index.js
Due: none

Apply lint offenses
  app/graphql/association_loader.rb
  app/graphql/types/url.rb
  db/seeds.rb
Due: standardrb

Update seeds
  Gemfile
  Gemfile.lock
  db/seeds.rb
Due: standardrb

Add pagination endpoints for products
  app/graphql/ohmuritel_schema.rb
  app/graphql/types/product_connection.rb
  app/graphql/types/product_edge_type.rb
  app/graphql/types/product_pages_type.rb
  app/graphql/types/query_type.rb
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Add Numbered page pagination
  app/javascript/components/AccountControl/index.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Product/AddProduct/index.js
  app/javascript/components/Form/Product/AddProduct/operations.graphql
  app/javascript/components/Form/style.js
  app/javascript/components/Header/index.js
  app/javascript/components/Home/index.js
  app/javascript/components/Home/operations.graphql
  app/javascript/components/Product/index.js
  app/javascript/components/ShopItem/NewItem/index.js
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/javascript/packs/index.js
  app/javascript/utils/apollo.js
  heroku.yml
  package.json
  yarn.lock
Due: none

Add mobile version endless page pagination
  app/graphql/types/product_connection.rb
  app/graphql/types/product_edge_type.rb
  app/javascript/components/Header/index.js
  app/javascript/components/Home/index.js
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/javascript/components/ShopList/style.js
  heroku.yml
  package.json
  yarn.lock
Due: standardrb

Clear code and fix header
  app/javascript/components/Form/Product/Inputs/ImageFormControl.js
  app/javascript/components/Form/Product/direct_upload.js
  app/javascript/components/Header/index.js
  app/javascript/utils/apollo.js
Due: none

Fix bug with uninitialized data
  app/javascript/components/ShopList/index.js
Due: none

Add elasticsearch with searchkick
  Gemfile
  Gemfile.lock
  app/models/product.rb
  docker-compose-dev.yml
  docker-compose-test.yml
  heroku.yml
  spec/factories/product.rb
  spec/models/product_spec.rb
  spec/support/searchkick.rb
Due: standardrb, rspec

Revert "Add elasticsearch with searchkick"
  Gemfile
  Gemfile.lock
  app/models/product.rb
  docker-compose-dev.yml
  docker-compose-test.yml
  heroku.yml
  spec/factories/product.rb
  spec/models/product_spec.rb
  spec/support/searchkick.rb
Due: standardrb, rspec

Add gem to provide dev data for browser plugin Rails Panel
  Gemfile
  Gemfile.lock
  heroku.yml
Due: standardrb

Add search endpoint
  app/graphql/types/product_connection.rb
  app/graphql/types/product_edge_type.rb
  app/graphql/types/product_pagination_type.rb
  app/graphql/types/query_type.rb
  app/javascript/components/Form/Auth/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Form/Auth/Inputs/operations.graphql
  app/javascript/components/Form/Product/Inputs/NameFormControlValidation.js
  app/javascript/components/Form/Product/Inputs/operations.graphql
  app/javascript/components/ShopList/ShopListMobile/index.js
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Remove search connection
  app/graphql/types/attributes_error.rb
  app/graphql/types/product_pagination_type.rb
  app/graphql/types/product_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Add autocomplete to frontend
  app/javascript/components/Header/index.js
  app/javascript/components/Search/index.js
  app/javascript/components/Search/operations.graphql
  heroku.yml
  yarn.lock
Due: none

Add search result page
  app/graphql/types/query_type.rb
  app/javascript/components/ShopList/SearchList/index.js
  app/javascript/components/ShopList/SearchList/operations.graphql
  app/javascript/packs/index.js
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Apply linter offenses
  app/graphql/types/query_type.rb
Due: standardrb

Fix flaky spec
  spec/models/product_spec.rb
Due: standardrb, rspec
