Repository AlexeyMatskevich/ohmuritel: changes, and which lefthook commands are due for each by the changed paths.
All: standard, standardrb, rspec

standard:
  tags: frontend lint
  run: dip yarn_no_tty standard {staged_files} --verbose | dip yarn snazzy

standardrb:
  tags: backend lint
  run: dip bundle_no_tty exec standardrb {staged_files} | dip yarn snazzy

rspec:
  tags: rspec spec backend
  run: dip rspec_no_tty --fail-fast {staged_files}

Add review model
  app/models/product.rb
  app/models/review.rb
  app/models/user.rb
  db/migrate/20191125101518_create_reviews.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/reviews.rb
  spec/models/product_spec.rb
  spec/models/review_spec.rb
  spec/models/user_spec.rb
Due: standardrb, rspec

Show reviews with rating in product page
  app/graphql/record_loader.rb
  app/graphql/types/query_type.rb
  app/graphql/types/review_type.rb
  app/javascript/components/NetworkError/index.js
  app/javascript/components/Product/index.js
  app/javascript/components/Reviews/index.js
  app/javascript/components/Reviews/operations.graphql
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/SearchList/index.js
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/components/ShopList/index.js
  spec/graphql/types/product_pages_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/graphql/types/review_type_spec.rb
Due: standardrb, rspec

Fix N+1 in reviews
  app/graphql/record_loader.rb
  app/graphql/types/review_type.rb
  app/javascript/components/Reviews/index.js
  app/javascript/components/Reviews/operations.graphql
  app/javascript/components/ShopList/ShopListMobile/index.js
  db/seeds.rb
  spec/graphql/types/review_type_spec.rb
Due: standardrb, rspec

Add create mutation for review
  app/graphql/mutations/create_review.rb
  app/graphql/types/mutation_type.rb
  app/policies/review_policy.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/graphql/mutations/create_review_spec.rb
  spec/policies/review_policy_spec.rb
Due: standardrb, rspec

Avoid destructive mutations https://github.com/apollographql/apollo-client/pull/4543
  app/javascript/components/AccountControl/index.js
  app/javascript/components/CustomSnackbar/CustomSnackbarContent/index.js
  app/javascript/components/CustomSnackbar/index.js
  app/javascript/components/Form/Auth/ForgotPassword/index.js
  app/javascript/components/Form/Auth/Inputs/emailFormControl.js
  app/javascript/components/Form/Auth/Inputs/emailFormControlAutoValidation.js
  app/javascript/components/Form/Auth/Inputs/passwordConfirmFormControl.js
  app/javascript/components/Form/Auth/Inputs/passwordFormControl.js
  app/javascript/components/Form/Auth/Login/index.js
  app/javascript/components/Form/Auth/Registration/index.js
  app/javascript/components/Form/Auth/ResetPassword/index.js
  app/javascript/components/Form/Product/AddProduct/index.js
  app/javascript/components/Form/Product/Inputs/ImageFormControl.js
  app/javascript/components/Form/Product/Inputs/NameFormControlValidation.js
  app/javascript/components/Form/Product/Inputs/PreviewDescriptionFormControl.js
  app/javascript/components/Form/Product/Inputs/PriceFormControl.js
  app/javascript/components/Form/Product/Inputs/WeightFormControl.js
  app/javascript/components/Form/Product/direct_upload.js
  app/javascript/components/Form/Product/get_file_media.js
  app/javascript/components/Form/helper.js
  app/javascript/components/Form/style.js
  app/javascript/components/Header/index.js
  app/javascript/components/Home/index.js
  app/javascript/components/NetworkError/index.js
  app/javascript/components/Product/index.js
  app/javascript/components/Provider/index.js
  app/javascript/components/Reviews/index.js
  app/javascript/components/Search/index.js
  app/javascript/components/ShopItem/NewItem/index.js
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/SearchList/index.js
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/style.js
  app/javascript/packs/index.js
  app/javascript/utils/apollo.js
  app/javascript/utils/csrf.js
  app/javascript/utils/type.js
Due: none

Update seed
  Gemfile
  Gemfile.lock
  db/seeds.rb
  heroku.yml
Due: standardrb

Add page for add review
  app/javascript/components/Reviews/NewReview/index.js
  app/javascript/components/Reviews/NewReview/operations.graphql
  app/javascript/components/Reviews/index.js
  app/javascript/components/Reviews/operations.graphql
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/utils/graphql.js
Due: none

Fix axe offenses
  app/javascript/components/Reviews/NewReview/index.js
  app/javascript/components/Reviews/index.js
Due: none

Fix linter offenses
  db/seeds.rb
  spec/graphql/mutations/create_review_spec.rb
Due: standardrb, rspec

Update syntax
  app/graphql/mutations/create_direct_upload.rb
  app/graphql/mutations/create_product.rb
  app/graphql/mutations/create_review.rb
  app/graphql/mutations/sign_up.rb
  app/graphql/mutations/update_account.rb
  app/graphql/types/attributes_error.rb
  app/graphql/types/product_pages_type.rb
  app/graphql/types/product_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/review_type.rb
  app/graphql/types/user_type.rb
Due: standardrb

Add delete review mutation
  app/graphql/mutations/delete_review.rb
  app/graphql/ohmuritel_schema.rb
  app/graphql/types/mutation_type.rb
  app/policies/review_policy.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/graphql/mutations/create_review_spec.rb
  spec/graphql/mutations/delete_review_spec.rb
  spec/policies/review_policy_spec.rb
Due: standardrb, rspec

Add delete frontend
  app/graphql/mutations/create_review.rb
  app/graphql/mutations/sign_up.rb
  app/graphql/types/review_type.rb
  app/javascript/components/AccountControl/index.js
  app/javascript/components/Reviews/NewReview/index.js
  app/javascript/components/Reviews/NewReview/operations.graphql
  app/javascript/components/Reviews/Review/index.js
  app/javascript/components/Reviews/Review/operations.graphql
  app/javascript/components/Reviews/index.js
  app/javascript/components/Reviews/operations.graphql
  app/javascript/components/Search/index.js
  app/policies/application_policy.rb
  spec/policies/product_policy_spec.rb
  spec/policies/review_policy_spec.rb
  spec/policies/user_policy_spec.rb
Due: standardrb, rspec

Fix multiple request in search
  Gemfile.lock
  app/javascript/components/Search/index.js
  heroku.yml
  package.json
  yarn.lock
Due: none

Add rating to product
  .docker/.psqlrc
  .standard.yml
  Gemfile
  Gemfile.lock
  app/models/review.rb
  db/migrate/20191129220520_add_rating_to_product.rb
  db/migrate/20191130211039_create_triggers_reviews_insert_or_reviews_delete.rb
  db/schema.rb
  dip.yml
  heroku.yml
  spec/models/product_spec.rb
  spec/models/review_spec.rb
  yarn.lock
Due: standardrb, rspec

Add rating to frontend pages
  app/graphql/types/product_type.rb
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/SearchList/operations.graphql
  app/javascript/components/ShopList/operations.graphql
  spec/graphql/types/product_type_spec.rb
Due: standardrb, rspec

Refactor rspec
  spec/factories/product.rb
  spec/factories/reviews.rb
  spec/factories/user.rb
  spec/graphql/mutations/base_mutatiob_spec.rb
  spec/graphql/mutations/create_product_spec.rb
  spec/graphql/mutations/create_review_spec.rb
  spec/graphql/mutations/delete_review_spec.rb
  spec/graphql/mutations/sign_up_spec.rb
  spec/graphql/types/attributes_error_spec.rb
  spec/graphql/types/mutation_type_spec.rb
  spec/graphql/types/product_pages_type_spec.rb
  spec/graphql/types/product_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/graphql/types/review_type_spec.rb
  spec/graphql/types/url_spec.rb
  spec/graphql/types/user_type_spec.rb
  spec/models/product_spec.rb
  spec/models/review_spec.rb
  spec/models/user_spec.rb
Due: standardrb, rspec

Add order function to product query
  Gemfile
  Gemfile.lock
  app/graphql/enums/base_enum.rb
  app/graphql/enums/product_order.rb
  app/graphql/resolvers/base_resolver.rb
  app/graphql/resolvers/products.rb
  app/graphql/resolvers/products_connection.rb
  app/graphql/resolvers/products_pages.rb
  app/graphql/types/query_type.rb
  heroku.yml
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Add sort to backend
  app/graphql/enums/product_order.rb
  app/graphql/resolvers/products.rb
  app/graphql/resolvers/products_connection.rb
  app/graphql/resolvers/products_order.rb
  app/graphql/resolvers/products_pages.rb
  app/graphql/types/query_type.rb
  app/javascript/components/ShopList/index.js
  app/javascript/components/ShopList/operations.graphql
  app/javascript/packs/index.js
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Enable cache for search in client
  app/graphql/types/product_pages_type.rb
  app/graphql/types/query_type.rb
  app/javascript/components/ShopList/SearchList/index.js
  app/javascript/components/ShopList/SearchList/operations.graphql
  spec/graphql/types/product_pages_type_spec.rb
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Add sort to mobile version
  app/javascript/components/ShopList/ShopListMobile/index.js
  app/javascript/components/ShopList/style.js
Due: none

Add pretty url
  Gemfile
  Gemfile.lock
  app/graphql/types/product_type.rb
  app/graphql/types/query_type.rb
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopList/SearchList/operations.graphql
  app/javascript/components/ShopList/operations.graphql
  app/models/product.rb
  config/initializers/friendly_id.rb
  db/migrate/20191204205243_add_slug_to_product.rb
  db/migrate/20191204205414_create_friendly_id_slugs.rb
  db/schema.rb
  heroku.yml
  spec/graphql/types/product_type_spec.rb
Due: standardrb, rspec

Add base order model
  app/models/order.rb
  app/models/order_item.rb
  app/models/user.rb
  db/migrate/20191204222331_create_orders.rb
  db/migrate/20191204222543_create_order_items.rb
  db/schema.rb
  spec/models/order_item_spec.rb
  spec/models/order_spec.rb
  spec/models/user_spec.rb
Due: standardrb, rspec

Add current order query
  app/graphql/types/order_item_type.rb
  app/graphql/types/order_type.rb
  app/graphql/types/query_type.rb
  app/policies/order_policy.rb
  spec/factories/order.rb
  spec/factories/order_item.rb
  spec/graphql/types/order_item_type_spec.rb
  spec/graphql/types/order_type_spec.rb
  spec/graphql/types/query_type_spec.rb
  spec/policies/order_policy_spec.rb
Due: standardrb, rspec

Add faker to production
  Gemfile
Due: standardrb

Update dependency
  Gemfile.lock
  heroku.yml
  yarn.lock
Due: none

Update puma
  Gemfile
  Gemfile.lock
  heroku.yml
Due: standardrb

Update rspec
  Gemfile
  Gemfile.lock
  heroku.yml
Due: standardrb

Add bonsai-elasticsearch-rails for heroku
  Gemfile
  Gemfile.lock
  heroku.yml
Due: standardrb

Appla lint offenses
  Gemfile
Due: standardrb

Use bonsai-searchkick instead of bonsai-elasticsearch-rails for heroku
  Gemfile
  Gemfile.lock
  heroku.yml
Due: standardrb

Fix bug when reviews not displayed in product page
  app/graphql/types/query_type.rb
Due: standardrb

Cover changes with spec
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Fix bug with search pagination
  app/javascript/components/ShopList/SearchList/index.js
  scripts/build_first_step.sh
  scripts/build_second_step.sh
Due: none

Add Order page
  app/graphql/types/order_item_type.rb
  app/graphql/types/query_type.rb
  app/javascript/components/Header/index.js
  app/javascript/components/Header/operations.graphql
  app/javascript/components/Order/index.js
  app/javascript/components/Order/operations.graphql
  app/javascript/components/OrderList/index.js
  app/javascript/packs/index.js
  spec/graphql/types/query_type_spec.rb
Due: standardrb, rspec

Refactor unauthenticated response
  app/graphql/mutations/base_mutation.rb
  app/graphql/mutations/update_account.rb
Due: standardrb

Add mutation for add product to basket
  app/graphql/mutations/.keep
  app/graphql/mutations/add_product_to_basket.rb
  app/graphql/mutations/create_review.rb
  app/graphql/ohmuritel_schema.rb
  app/graphql/types/mutation_type.rb
  spec/graphql/mutations/add_product_to_basket_spec.rb
  spec/graphql/mutations/create_review_spec.rb
  spec/graphql/mutations/delete_review_spec.rb
Due: standardrb, rspec

Add frontend function to add product into basket
  app/javascript/components/ShopItem/index.js
  app/javascript/components/ShopItem/operations.graphql
Due: none

Apply linter offenses
  spec/graphql/mutations/add_product_to_basket_spec.rb
Due: standardrb, rspec

Add constrain to add identical products to order
  db/migrate/20191211205600_add_composite_index_to_order_item.rb
  db/schema.rb
Due: standardrb

Fix aria label
  app/javascript/components/ShopItem/index.js
Due: none

Path conditions:
  standard: any of: ,*.{js}
  standardrb: any of: {bin/*,.lefthook/**/*,Gemfile,*.{rb,erb}}
  rspec: any of: *spec.rb
